.ticket-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .ticket-details-card {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .ticket-details-card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .ticket-details-card-text {
    font-size: 18px;
    margin-bottom: 8px;
  }
  
  .heading {
    text-align: center;
    margin-top: 20px;
  
  }
  